.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f081fd1;
    color:white ;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    margin-right: 10px;
  }
  
  .site-title {
    font-size: 1.5rem;
    font-weight: bold;
    color:#949ba3;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  .nav-links a:hover {
    color: #aaa;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 70px;
      right: 0;
      background-color: #111;
      flex-direction: column;
      width: 100%;
      text-align: center;
      display: none;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  }
  