.range-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  gap: 40px;
  flex-wrap: wrap;
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 220px;
  gap: 12px;
  flex: 1;
  min-width: 300px;
}

.grid-item {
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  overflow: hidden;
}

.grid-item.tall {
  grid-row: span 2;
}

.grid-item.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.text-content {
  flex:1;
  min-width: 280px;
}

.text-content h1 {
  color: rgba(240, 248, 255, 0.72);
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.text-content p {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 25px;
  color: #9a9090;
}

.btn-explore-btn:hover{
     background-color: brown;
}

.btn-explore-btn{
  background: #000000db;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color:rgb(255, 255, 255);
  padding:13px 48px;
  border-radius: 7px;
  margin:10px;
 
}


.btn-explore-btn:hover {
  background-color: rgb(150, 12, 12);
}

.build-btn {
  margin: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  cursor: pointer;
  color: #fbf6f6d1;
}

.build-btn:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 900px) {
  .range-container {
    flex-direction: column;
  }

  .media-grid {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 180px;
  }

  .text-content {
    text-align: center;
    margin-top: 20px;
  }
}
